li {
  margin-bottom: 20px;
  list-style-type: none;
}

.buttons {
  margin-left: 20px;
}

.add-button {
  margin-bottom: 20px;
  margin-top: 40px;
}

.input {
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  border: 1px solid #ccc;
}

select {
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #44c4f7;
  margin-right: 20px;
}

.result {
  width: 200px;
  margin-left: 37%;
}

.wrapper {
  text-align: center;
  margin-bottom: 40px;
}
